/* DIOGO SILVA - SITE OFICIAL

   ESTILOS DO SITE

*/

/* GERAL */
html{
    background-color: black;
    margin: 0;
    padding: 0;
}
body{
    margin:0;
}

/* TOPO */
.home{
    width: 100%;
    height: 700px;
    background-color: #000000;
}

/* AGENDA */
.agenda{
    width: 100%;
    height: 250px;
    background-color: aqua;
}

/* RELEASE */
.release{
    width: 100%;
    height: 600px;
    background-color: #ffa100;
}

/* REDES SOCIAIS */
.redessociais{
    width: 100%;
    height: 600px;
    background-color: #1c5368;
}

/* MÚSICAS */
.musicas{
    width: 100%;
    height: 600px;
    background-color: #ffa100;
}

/* CONTATO */
.contato{
    width: 100%;
    height: 600px;
    background-color: #ffffff;
}




/* NAVEGAÇÃO */

#check{
    display: none;
}
#menu-icone{
    cursor: pointer;
    padding: 15px;
    position: fixed;
    z-index: 1;
    background-color: #55acee;
    width: 25px;
    height: 25px;
    margin: 20px;
    border-radius: 50%;
    transition: all .5s linear;
}

#menu-icone2{
    opacity: 0;
    cursor: pointer;
    padding: 15px;
    position: fixed;
    z-index: 1;
    width: 25px;
    height: 25px;
    margin: 20px;
    border-radius: 50%;
    transition: all .5s linear;
}
#menu-icone2 strong{
    color: #fff;
    font-family: Arial;
    font-size: 9px;
    margin-left: -3px;
    margin-top: -5px;
}
.barra{
    background: rgb(0, 0, 0) transparent;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 300px;
    position: fixed;
    transition: all .2s linear;
    left: -300px;
}
.logo-menu{
    position: absolute;
    top: 67%;
    left: 50px;
}
.menu{
    width: 100%;
    position: fixed;
    top: 70px;
}
.menu ul{
margin-left: -40px;
}
.menu ul li{
    text-align: center;
    list-style: none;
    padding: 10px;
    transition: all .2s linear;
    opacity: 0;
}
.menu ul li a {
    margin-left:-20px;
    padding: 5px;
    text-decoration: none;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 25px;
    transition: all .2s linear;
}
.menu ul li:hover {
    background: #55acee;
}
#check:checked ~ #menu-icone {
    opacity: 0;

}
#check:checked ~ #menu-icone2 {
    opacity: 1;

}
#check:checked ~ .barra{
    transform: translateX(300px);
}

#check:checked ~ .barra .menu ul li{
    opacity: 1;
}

/* MENU REDES SOCIAIS */

.social-icones ul{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 88%;
    left: 45%;
    width: 300px;
    transform: translate(-40%,-40%);
}
.social-icones ul li{
    list-style: none;
    display: inline-block;
    float: left;
    position: relative;
    text-align: center;
    margin: 4px;
    background: #ffffff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
    transition: .5s ease-in-out;
    font-size: 25px;
    z-index: 1;
    color: #33373d;
}
.social-icones ul li:after{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    right: -100%;
    top: 0;
    background: rgba(255,255,255,.3);
    transition: .5s ease-in-out;
    transition-delay: .2s;
}
.social-icones ul li:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background: #ccc;
    z-index: -1;
    border-radius: 50%;
    transform: scale(0);
    transition: .3s ease-in-out;
}
.social-icones ul li:hover:before{
    left: 0;
    transform: scale(.9);
}
.social-icones ul li:hover:after{
    right: 0;
    }
.social-icones ul li:nth-child(1):before{
    background: #3b5999;
}
.social-icones ul li:nth-child(2):before{
    background: #d86f00;
}
.social-icones ul li:nth-child(3):before{
    background: #cd201f;
}
.social-icones ul li:nth-child(4):before{
    background: #55acee;
}
.social-icones ul li:nth-child(5):before{
    background: #09b83e;
}
.social-icones ul li i{
    transition: .3s ease-in-out;
}
.social-icones ul li:hover i{
    color: #fff;
}

/* 768 pixels */
@media (max-width: 768px){

    /* MENU */
    #menu-icone{
        padding: 10px;
    }
    #menu-icone2{
        padding: 10px;
    }
    .menu{
        width: 100%;
        position: fixed;
        top: 120px;
    }
    .logo-menu{
        position: absolute;
        top: 3%;
        left: 35%;
    }
    .barra{
        width: 100%;
        left: -100%;
    }
    #check:checked ~ .barra{
        transform: translateX(100%);
    }
    .social-icones ul{
        top:80%;
        left: 45%;
    }


}

/* 768 pixels */

/* FOOTER */

.footer{

}
.footer h4{
    color: #fff;
    font-family: Arial;
    size: 8px;
    text-align: center;
}